contributors/*.yml  @tsalright-technologies/community
teams/*.yml         @tsalright-technologies/community
README.md           @tsalright-technologies/core
repos/*.yml         @tsalright-technologies/infrastructure
